.buttonComponent {
	border-radius: 3px;
	padding: 0.3rem 0.5rem;
	transition: all 0.3s ease-out;
	box-shadow: #272727b0 1px 1px 1px, #272727b0 -1px -1px 1px;
}
.buttonComponent:hover {
	box-shadow: #272727b0 1px 1px 3px, #272727b0 -1px -1px 3px;
}
.buttonComponent:active {
	opacity: 0.8;
}
